<ion-view title="Add Scanner">
    <ion-pane>
        <ion-content>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Scanner Name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Host Name / Ip address">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Port">
                </label>
            </div>
        </ion-content>
    </ion-pane>
    <ion-footer-bar align-title="center" class="bar-dark">
        <h1 class="title">
            <div class="buttons">
                <button class="button button-clear icon ion-android-checkmark"></button>
            </div>
        </h1>
    </ion-footer-bar>
</ion-view>