<ion-view title="Organizer">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-plus" ng-click="newScanner()"></button>
    </ion-nav-buttons>
    <ion-pane>
        <ion-content>
            <ion-list class="list list-inset">
                <ion-item ng-repeat="item in scanners" class="item item-icon-left">
                    <i class="icon ion-android-storage"></i>
                    <h>{{item.name}}</h>
                    <p>{{item.host}}:{{item.port}}</p>
                    <ion-option-button class="button-assertive"  ng-click="deleteScanner(item)">Delete</ion-option-button>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-pane>
</ion-view>